html {
  width: 100%;
  height: 100%;

  body {
    width: 100%;
    height: 100%;

    .backgroundMeniu {
      width: 100%;
      height: 100%;
      background: url("../img/firstpic.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      .meniu {
        width: 100%;
        height: 20%;
        background-color: transparent;

        &:hover {
          background-color: white;
          opacity: 0.9;

          p {
            color: red;
            background-color: transparent;
          }
        }

        .logoAndDropdowns {
          width: 11%;
          height: 65%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 40px;
          position: relative;

          p {
            color: rgb(1, 151, 224);
            font-size: 31px;
            text-transform: uppercase;
            float: left;
          }



          .search {
            .dropdown {
              .dropdown-menu {
                width: 1233px;
                border: 0 solid white;
                position: absolute;
                z-index: 2;
                overflow: hidden;

                li {
                  padding: 0;

                  a {
                    display: block;
                    padding: 10px;
                  }
                }
              }

              .show {
                display: block;
                max-height: 9999px;

              }

              .hide {
                max-height: 0;
              }
            }
          }

          .what {
            color: white;
          }
        }
      }
    }
  }
}
